* {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

/* google font *********************************************** */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  scroll-behavior: smooth;
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
}

/* custom variable ************************************* */

:root {
  --primary-color: #7140b4;
  --dark-purple: #2b0b3a;
  --bg-color: #11071f;
  --grey: #959595;
  --white: #ffffff;
  --black: #000000;

  /* font family  ******************/

  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

/* custom class ************************************* */

.hc1 {
  font-family: var(--lato);
  color: var(--white);
  font-weight: 700;
  font-size: 100px;
}

.hc3 {
  font-family: var(--lato);
  color: var(--white);
  font-weight: 400;
  font-size: 40px;
}

.hc4 {
  font-family: var(--poppins);
  color: var(--white);
  font-weight: 600;
  font-size: 34px;
}

.hc5 {
  font-family: var(--lato);
  color: var(--grey);
  font-weight: 500;
  font-size: 20px;
}

p {
  font-family: var(--lato);
  color: var(--grey);
  font-weight: 500;
  font-size: 20px;
}
