/* google font *********************************************** */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

a,
a:hover {
  text-decoration: none;
}

/* custom variable ************************************* */

:root {
  --primary-color: #7140b4;
  --dark-purple: #2b0b3a;
  --bg-color: #11071f;
  --grey: #959595;
  --white: #ffffff;
  --black: #000000;

  /* font family  ******************/

  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --caveat: "Caveat", cursive;
}

/* custom class ************************************* */

.hc1 {
  font-family: var(--lato);
  color: var(--white);
  font-weight: 700;
  font-size: clamp(3.25rem, 1.107rem + 5.714vw, 6.25rem);
  /* scale between 52px at 600px and 100px at 1440px */
}

.hc2 {
  font-size: clamp(2.375rem, 1.214rem + 3.095vw, 4rem);
  /* scale between 38px at 600px and 64px at 1440px */
}

.hc3 {
  font-family: var(--lato);
  color: var(--white);
  font-weight: 400;
  font-size: clamp(1.625rem, 1rem + 1.667vw, 2.5rem);
  /* scale between 26px at 600px and 40px at 1440px */
}

.hc4 {
  font-family: var(--poppins);
  color: var(--white);
  font-weight: 600;
  font-size: clamp(1.375rem, 0.839rem + 1.429vw, 2.125rem);
  /* scale between 22px at 600px and 34px at 1440px */
}

.hc5 {
  font-family: var(--lato);
  color: var(--grey);
  font-weight: 500;
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  /* scale between 16px at 600px and 20px at 1440px */
}

p {
  font-family: var(--lato);
  color: var(--grey);
  font-weight: 500;
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  /* scale between 16px at 600px and 18px at 1440px */
}
